@use "../../../styles/settings/colors";
@use "../../../styles/settings/spacing";
@use "../../../styles/settings/typography";

.author {
  display: flex;
  padding-left: 0;
  list-style: none;

  &__info {
    margin-right: map-get(spacing.$spacing-list, "sm");
    color: colors.$grey;
  }

  &__icon {
    margin-right: map-get(spacing.$spacing-list, "xs");
    color: colors.$base;
    font-size: typography.$font-size-icons;
  }
}
